<html>
<head>
<link href="http://twitter.github.io/bootstrap/assets/css/bootstrap.css"
	rel="stylesheet">
</head>
#{header/}
<body>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span2">#{sidebar/}</div>

			<div class="span10">
				<div class="indexff">
					<span>About the App</span>
				</div>
				<div class="indexff">
					<span>Pictures</span>
				</div>
				<div class="indexff">
					<span>WhatToDo</span>
				</div>
				<div class="indexff">
					<span>Credits</span>
				</div>
			</div>
		</div>
	</div>

</body>
</html>